.white-color {
  color: #ffffff;
}

.dark-color {
  color: #295a46;
}

.responsive-width {
  min-width: 50rem;
}

.responsive-height {
  min-height: 67.5rem;
}

@media (max-width: 960px) {
  .useless-div {
    width: 100%;
    height: 56.25vh;
  }
}

@media (min-width: 960px) {
  .useless-div {
    width: 100%;
    height: 56.25vw;
  }
}

@media screen and (max-width: 1560px) {
  .column {
    width: 100%;
  }
}

#backDiv {
  background-color: #ffffff;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

#backDiv:hover {
  background-color: #0d9f4f;
  -webkit-transition: background-color 400ms ease-in;
  -ms-transition: background-color 400ms ease-in;
  transition: background-color 400ms ease-in;
}

/* .bold {
    font-family: "Gelion-bold";
  }
  
  .thin {
    font-family: "Gelion-thin";
  }
  
  .bold-italic {
    font-family: "Gelion-thin";
  }
  
  @font-face {
    font-family: "Gelion-thin";
    src: url("GelionFont/GELION-THIN.TTF");
  }
  @font-face {
    font-family: "Gelion-bold-italic";
    src: url("GelionFont/GELION-BOLDITALIC.TTF");
  }
  @font-face {
    font-family: "Gelion-bold";
    src: url("GelionFont/GELION-BOLD.TTF");
  } */
